#c1 {
    border: 20px solid #1B3A4B;
    margin-top: 10%;
    padding:10%;
}

#title {
    margin-top: 19%;
}

.card-header {
    font-size: 30px;
    margin-bottom: 5%;
}

.details {
    font-size: 20px;
}

#server_logo {
    padding-left: 5%;
    padding-bottom: 5%;
}

.p_server {
    margin-right: 10%;
    display: inline;
}

#button {
    margin: 10%;
    background-color: #3E1F47;
    border-radius: 30px;
}

.card-header {
    border: 2px solid #1B3A4B;
}

label {
    font-size: 20px;
}

:placeholder-shown {
    font-size: 20px;
    border: 2px solid #3E1F47;
}

#card1 {
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10%;
}
