.profile {
  margin: 0;
  max-height: 50%;
  height: 50%;
}

.pfp1 {
  position: relative;
  padding-top: 0.8%;
}

.dropbtn {
  color: #212f45;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #272640;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.dropdown-content {
  bottom: 60px;
}

.account-settings {
  margin-top: 5rem;
}

.account-settings .user-profile {
  margin: 1rem 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.account-settings .user-profile *{
  color: white;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
}

.account-settings .about {
  margin: 1rem 0 0 0;
  font-size: 0.8rem;
  text-align: center;
}

.card {
  background: #212F45;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

.form-control {
  border: 1px solid #212F45;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #272640;
  color: #000000;
}


#filter {
  margin-bottom: 5%;
}

#filter *{
  color: white;
}

h6 {
  margin-top: 10%;
}

#up_title {
  margin-bottom: 4%;
  color: white
}

#avatar {
  margin-left: 20%;
  color: white;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #212f45;
  text-align: center;
}