html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #3e1f47;
}

.navbar {
  background-color: #212f45;
}

a {
  text-decoration: none;
  color: black;
}

.btn-close {
  height: 150%;
}

.nav-link {
  margin: 5%;
}

#nav1,
#nav2,
#nav3,
#nav4,
#nav5 {
  padding-right: 10%;
}

footer {
  margin-top: auto;
  width: 100%;
}

.hero {
  margin-top: 25%;
  width: 100%;
}

#jynx {
  font-size: 60pt;
  margin-top: -40%;
  margin-bottom: 10%;
  border-radius: 10%;
  text-shadow: 5pt 5pt black;
  font-size: 141px;
  color: hsla(138,0%,0%,1);
text-shadow:  0px 0px 0px hsla(188,54%,42%,1),
     0px 0.6818181818181819px 0px hsla(190,54%,42%,1),
     0px 1.3636363636363638px 0px hsla(192,55%,41%,1),
     0px 2.0454545454545454px 0px hsla(194,55%,41%,1),
     0px 2.7272727272727275px 0px hsla(196,56%,40%,1),
     0px 3.409090909090909px 0px hsla(198,56%,39%,1),
     0px 4.090909090909091px 0px hsla(200,57%,39%,1),
     0px 4.7727272727272725px 0px hsla(203,57%,38%,1),
     0px 5.454545454545455px 0px hsla(205,58%,38%,1),
     0px 6.136363636363637px 0px hsla(207,59%,37%,1),
     0px 6.818181818181818px 0px hsla(209,59%,36%,1),
     0px 7.5px 0px hsla(211,60%,36%,1),
     0px 8.181818181818182px 0px hsla(213,60%,35%,1),
     0px 8.863636363636363px 0px hsla(215,61%,35%,1),
     0px 9.545454545454545px 0px hsla(217,61%,34%,1),
     0px 10.227272727272727px 0px hsla(219,62%,34%,1),
     0px 10.90909090909091px 0px hsla(221,62%,33%,1),
     0px 11.59090909090909px 0px hsla(224,63%,32%,1),
     0px 12.272727272727273px 0px hsla(226,63%,32%,1),
     0px 12.954545454545455px 0px hsla(228,64%,31%,1),
     0px 13.636363636363637px 0px hsla(230,64%,31%,1),
     0px 14.318181818181818px 0px hsla(232,65%,30%,1),
     0px 15px 0px hsla(234,65%,29%,1);
}

h2 {
  margin-top: 10%;
}

.nav_gif {
  width: 50%;
}


